body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ffffff;
    overflow:hidden;
}

/* Animated Background */

.background-animation{
    position:absolute;
    width:200%;
    height:200%;
    background:
    radial-gradient(circle,#e0e0e0 2px,transparent 2px);
    background-size:40px 40px;
    animation:moveBackground 20s linear infinite;
}

/* Login Card */

.login-container{
    position:relative;
    width:420px;
    padding:35px;
    border-radius:25px;
    background:#ffffff;
    box-shadow:
    0 15px 35px rgba(0,0,0,0.12);
    border:1px solid #e5e5e5;
    text-align:center;
    z-index:10;
}

/* Logo */

.logo-section h2{
    color:#555;
    font-size:24px;
    font-weight:500;
}

.logo-section h1{
    color:#222;
    font-size:42px;
    font-weight:700;
    margin-bottom:25px;
}

/* Inputs */

.input-group i{
    color:#666;
    font-size:18px;
}

.input-group input{
    width:100%;
    padding:14px 14px 14px 45px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:16px;
    background:#fafafa;
    color:#222;
    outline:none;
    transition:0.3s;
}

.input-group input:focus{
    box-shadow:0 0 12px rgba(0,0,0,0.12);
    border-color:#999;
}

/* Options */

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    color:#555;
    font-size:14px;
}

.options a{
    color:#333;
    text-decoration:none;
    transition:0.3s;
}

.options a:hover{
    color:#000;
}

/* Buttons */

.login-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#222;
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:0.4s;
}

.login-btn:hover{
    background:#000;
    transform:translateY(-2px);
}

.create-btn,
.help-btn{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    transition:0.4s;
}

.create-btn{
    background:#222;
    color:white;
}

.help-btn{
    background:#f5f5f5;
    color:#222;
    border:1px solid #ddd;
}

.create-btn:hover{
    background:#000;
    transform:scale(1.05);
}

.help-btn:hover{
    background:#eaeaea;
    transform:scale(1.05);
}
